{{>header}}
{{>nav}}
<section class="container my-5">
    <div class="d-flex justify-content-between mb-4">
        <a href="" class="btn btn-primary">Add Task</a>
        <a href="" class="btn btn-danger">Delete All</a>
    </div>

<table class="table table-bordered">
    <thead>
        <tr>
        <th>id</th>
        <th>Title</th>
        <th>Content</th>
        <th>Status</th>
        <th>due date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>css</td>
            <td>bossssssssssssssssssoks</td>
            <td>active</td>
            <td>4/6</td>
            <td>
                <a href="#" class="btn btn-primary mx-3">Show</a>
                <a href="#" class="btn btn-warning mx-3">Edit</a>
                <a href="#" class="btn btn-danger mx-3">Delete</a>        
            </td>
        </tr>
        
    </tbody>
</table>
</section>
{{>footer}}