{{>header}}
{{>nav}}


<form action="/editLogic">
        <div class="mb-3">
            <input name="title" class="form-control" value={{task.title}}>
        </div>
        <div class="mb-3">
            <input name="content" class="form-control" value={{task.content}}>
        </div>
        <div class="mb-3">
            <input name="status" class="form-control" value={{task.status}}>
        </div>
        <div class="mb-3">
            <input name="dueDate" class="form-control" value={{task.dueDate}}>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Edit</button>
        </div>
</form>

{{>footer}}